<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>API</title>
    <style type="text/css">
        .code {
            background: wheat;
            font-size: 15px;
            padding: 10px 20px;
        }
    </style>
</head>
<body>
<h1>Список доступных API</h1>
<p>Список всех категорий. Доступные методы (GET, POST)</p>
<pre class="code">api/categories/</pre>
<p>Покажет категорию под id = pk. Доступные методы (GET, PUT, DELETE)</p>
<pre class="code">api/categories/< pk ></pre>
<p>Список всех доходов. Доступные методы (GET, POST)</p>
<pre class="code">api/incomes/</pre>
<p>Покажет доход под id = pk. Доступные методы (GET, PUT, DELETE)</p>
<pre class="code">api/incomes/< pk ></pre>
<p>Список всех расходов. Доступные методы (GET, POST)</p>
<pre class="code">api/expenses/</pre>
<p>Покажет расход под id = pk. Доступные методы (GET, PUT, DELETE)</p>
<pre class="code">api/expenses/< pk ></pre>
</body>
</html>